/* ***********************************DOCUMENT*********************************** */
body {
  background-color: #121212;
  color: #d5d5d5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 0 !important;
  margin:0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
}


  /* border-radius: 6px; */
  /* border: #d5d5d5 1px solid; */
  /* padding: 2px 10px; */

/* button{
  color: orange;
} */

button:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

a{
  text-decoration: none;
}

i{
  color:orange;
}

/* ***********************************HEADER & LOGO*********************************** */
.header {
  /* margin: 10px; */
  z-index: 200;
  /* position: fixed; */
  display:flex;
  /* top: 1%; */
  padding: 0 10px;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: #121212;
  align-items: center;
  flex-wrap: wrap;
}


.logo {
  font-size: 35px;
  color: #d5d5d5;
  /* margin: 0 160px 0 0 ; */
  margin: 0 160px 0 5px ;
  /* color: #d5d5d5; */
  opacity: 1;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  font-family: 'Gloria Hallelujah', cursive;
}

.logo i{
  color: #d5d5d5;
}

.logo:hover {
  /* color: #d5d5d5; */
  color: orange;
  transform: translateY(-5px);
}

.logo:hover i{
  color: orange;
}

/* ***********************************FOOTER*********************************** */
.go-to-top {
  text-align: center;
}

#topBtn {
  font-size: 25px;
}


/* ***********************************NAV*********************************** */
/* .navbar-container {
  top:10px;
  right:0;
} */


/* .navbar-container {
  display:flex;
  flex-wrap: wrap;
} */

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0;
  margin:0;
  align-items: center;
  flex-wrap: wrap;
}



.menu-title{
  color:#d5d5d5;
  font-size: 18px;
  opacity: 1;
}

#menu-region{
  margin: 10px 15px;
}

/* .menu-title:hover{
  color: orange;

} */

/* .menu-item:hover{
  
  transform: translateY(-3px);
} */

.menu-item {
  margin: 10px 15px;
}

.menu .menu-item a:hover {
  color: orange;

}

.sub-item a{
  color: #d5d5d5;
}
.menu .sub-menu {
  position: absolute;
  list-style: none;
  /* pointer-events: none; */
  background: #121212;
  /* border-radius: 0 0 8px 8px; */
  /* transform: translate(-10px,16px); */
  padding: 20px;
  padding-top:30px;
  /* display:none; */
  opacity:0;
  z-index:10000;
  transform: translateY(-50px);
  transition: opacity 100ms ease-in-out, transform 300ms ease-in-out;
  pointer-events: none;
}

/* #menu-title-genre > .menu-title:focus + .sub-menu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

#menu-title-genre.active > .menu-title + .sub-menu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#navbar-container.active > .menu{
  display:block;
  pointer-events: auto;
}

#menu-title-subscription.active > .menu-title + .sub-menu{
  opacity: 1;
  transform: translateY(10px);
  pointer-events: auto;
}

#menu-region.active > .menu-title + .sub-menu{
  opacity: 1;
  transform: translate(-160px,10px);
  pointer-events: auto;
}

#menu-title-genre.active > .menu-title:focus, .menu-title:hover{
 color:orange;
} 


 #menu-region.active > .menu-title, .menu-title:hover{
  color:orange;
 }

 #menu-title-subscription.active > .menu-title, .menu-title:hover{
  color:orange;
 }




.menu-item .sub-menu .sub-item:hover{
  transform: translateY(-1px);
}


.menu-item .sub-menu {
  column-count: 2;
}


/* .navbar-container li{

  right: 0;
} */
.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* padding: 0 20px; */
  margin: 0;
}

.navbar .navbar-item a {
  margin: 0 30px;
  color: #121212;
  /* color: #d5d5d5; */
}

.navbar .navbar-item {
  font-weight: 700;
  /* color: #d5d5d5; */
  color: #121212;
}



/* .navbar:hover .dropdown-menu {
  display: block;
} */

/* .dropdown:hover #dropdownMenuButton{
  text-decoration: underline;
} */

/* ***********************************GENRE DROPDOWN*********************************** */
.dropdown-menu {
  column-count: 3;
}

#menu-title-genre{
  transition: opacity 150ms ease-in-out;
}
/* ***********************************REGION DROPDOWN*********************************** */
#menu-title-region{
  display:flex;
}
#region option{
  border-radius: 10px;
  background-color: #121212;
  color:white;

  /* overflow-wrap: break-word !important;
  white-space: pre-wrap;
  
  text-overflow: ellipsis;
  word-wrap: break-word; */
  
}


#region{
  background-color: transparent;
  /* border:none; */
  /* width: 120px; */
  font-family: unset;
  font-size: 16px;
  color:#d5d5d5;
  /* border-radius: 7px; */
  margin: 20px 0;
  width: 200px;
  /* overflow-wrap: break-word !important; */
  overflow: hidden;
  white-space:pre-wrap;
  
}

/* #display-region form{
  display:flex;
  flex-wrap: wrap;
} */

#display-region{
  /* width: 200px; */
  transform: translate(-170px,-50px);
  text-align:center;
  height:100px;
  display:flex;
}

/* #region option{
  max-width:200px;
  overflow:hidden;
  word-wrap: normal !important;
  white-space: normal;
} */

.saveBtn{
  background-color: transparent;
  border: 1px solid #d5d5d5;
  color: #d5d5d5;
  margin: 3%;
  padding: 5px 17px;
  /* border-radius: 10px; */
  /* position: relative;
  transform: translate(-20px, 50px); */
}

.saveBtn:hover{
  cursor: pointer;
  /* border: 1px solid orange;
  color:orange; */
  /* transform: translateY(-5px) */
}

/* ***********************************SEARCH BAR*********************************** */
#search-input {
  font-size: 16px;
  background-color: transparent;
  /* color:#d5d5d5; */
  color:orange;
  border:none;
  /* border-color: #d5d5d5; */
  width: 100px;
  font-size: 12px;
  z-index: 10000;
}

#search-input:focus, #search-input:active {
  outline: none;
  background-color: #121212;
  z-index: 10000;
  
}

/* #search-input:focus i{
  color:orange;
} */

/* //chrome auto-fill */
input:-webkit-autofill{
  -webkit-text-fill-color: #d5d5d5 !important;
  -webkit-background-clip: text;
}


#searchBtn{
  /* border:#d5d5d5 1px solid; */
  /* padding: 5px 15px; */
  background-color: transparent;
  /* padding: 2px; */
  border: none;
  color:white;
  z-index: 10000;
}

#searchBtn:hover{
  transform: unset;
}

#search-form{
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 15px;
  z-index: 10000;
}



/* #menu-title-search{
  margin-top:0;
} */
/* ***********************************MAIN IMG*********************************** */

/* .imgContainer {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;

}

.imgContainer #main_img {
  height: 800px;
  object-fit: cover;

} */

#mainOwl .owl-item{
  margin: 0;
  z-index:-100;
}

#main {
  z-index: -100;
}

/* #mainImg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;
  height: 900px;
  object-fit: cover;
} */

.mainImg {
  position: absolute;
  top: 0;
  z-index: -50;
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 900px;
  
}

#main-img-home{
  object-position: 40% 50%;
}

#mainRegionImg{
  object-position: 10% 10%;
}

.mainDescr {
  width: 60%;
  margin: 370px 0 400px 50px;
  color: black;
  
}

#mainGenreDescr{
  width: 50%;
  /* margin: 100px 0 600px 400px; */
  margin: auto;
  text-align:center;
  margin-top: 70px;
  /* color:#d5d5d5; */
}

.mainDescr h1{
  margin: 10px 0;
  font-size: 50px;
}
.mainDescr p{
  margin: 10px 0;
  font-size: 25px;
}

#mainRegionDescr{
  color:#d5d5d5;
}
.mainMsg{
  text-align:center;
  width:80%;
  margin:auto;
}

.mainMsg h2{
  font-size: 40px;
  color:black;
}

.mainBtn{
  background-color: white;
  font-size: 35px;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 15px;
  margin:10px;
}

#editRegionBtn{
  margin-left:0;
}

#editGenreBtn, #editRegionBtn{
  font-size: 25px;
}

#edit-genre-container{
  text-align:center;
}
/* ***********************************MY SERVICES*********************************** */

#services{
  text-align: center;
  margin: 100px 0;
  color:#121212;
}

#services h1{
  font-size: 40px;
}
#services #displayServices{
  margin: 20px auto;
}

#services #displayServices h1{
  margin: 5px auto;
}

/* #services #myServices{
  border: 3px solid #d5d5d5;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  width: 750px;
  margin: 50px auto;
  
} */

#services #myServices img{
  border-radius: 15px;
}

.my-services-logo{
  margin: 15px;
}


#servicesMsg{
  margin: 20px 0;
}

/* #editServiceBtn, #trendingServiceBtn{
  background-color: transparent;
  color:#121212;
  border:1px solid #121212;
  padding: 5px 15px;
  margin: 10px 20px;
  font-size: 20px;
} */

.carousel-btn{
  background-color: #121212;
  color:#d5d5d5;
  padding: 5px 15px;
  margin: 10px 20px;
}

#editServiceBtn, #trendingServiceBtn{

  font-size: 30px;
}


/* #editServiceBtn:hover, #trendingServiceBtn:hover{
  color:orange;

} */



#services #myServices{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  /* margin-bottom:10px; */
  border-top:#121212 3px solid;
}

#serviceContainer{
  /* border: #121212 3px solid; */
  padding: 10px;
  width: 750px;
  margin: 20px auto;
}

#serviceMsg{
  margin: 15px 0;
}

/* ***********************************TUTORIAL*********************************** */

/* .tutorial{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  width:700px;
  margin:auto;
}

#tutorialDisplaySub div{
  width: 300px;
  margin: 1%;
  background-color: #222121;
  color:#d5d5d5;
  padding: 10px;
  display:none;
}

#tutorialDisplaySub h4{
  margin: 5px;
  font-size: 22px;
} */


/* #tutorial-container{
  position: absolute;
  top:0;
  right: 0;
} */

#tutorial{
  background-color: orange;
  opacity: 0.9;
  text-align: center;
  padding: 10px 5px;
  color: black;
  border-radius: 15px;
  /* border-top-right-radius: 0; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tutorial p,a{
  font-size: 14px;
  margin: 5px;
}

#tutorial p{
  margin-top: 0px;
}

#tutorial i{
  color:black;
}

#tutorial a{
  margin: 10px 5px;
  border: 1px solid black;
  padding: 2px 8px;
  color:#d5d5d5;
  background-color: black;
}

/* #tutorial a:hover{
  transform: translateY(-10px);
} */
#close-button{
  background-color: transparent;
  color: black;
  border: none;
  font-size: 15px;
  transform: translate(-9px, -4px);
}

#close-button i{
  color:black;
}

#close-button:hover{
  transform: translate(-9px, -6px);
}

#tutorialDisplaySub{
  background-color: #d5d5d5;
  width: 700px;
  margin:auto;
  display:none;
}

#tutorialDisplayRegion{
  position:relative;
  z-index:300px;
  background-color: white;
  transform: translate(150px, -300px);
  width:700px;
  display:none;
}

#tutorialDisplayGenre{
  color:black;
}
/* ***********************************SUB1*********************************** */

#sub1 h1{
  font-size: 40px;
  text-align: center;
  /* color:orange; */
}
#sub1 h2{
  margin: 3% 1% 1%;
  /* color:orange; */
}

#sub1{
  margin: 100px 0;
}

#sub1 .owl-item:hover img{
  /* transform: scale(1.2); */
  transform: translateY(-20px);
  cursor: pointer;
}

#sub1 .owl-carousel{
  margin: 2% 0;
}

#sub1 .carousel-container{
  margin: 5% 0;
}
/* ***********************************OWL CAROUSEL*********************************** */

.owl-carousel {
  z-index: index unset;
}

/* ***********************************MOVIE COLLECTION*********************************** */
#searchMsg{
  font-size: 45px;
  margin-top: 80px;
  text-align:center;
  /* color:orange; */
}

#displayGenreName{
  color:orange;
}
/* #genreMsg{
  display:flex;
  align-items: center;
}

#genreMsg #myServices{
  display:flex;
  margin-left: 45px;
  
}

#genreMsg #myServices img{
  border-radius: 10px;
  width: 50px;
}

#genreMsg #myServices .my-services-logo{
  margin: 5px;
} */

/* #displayGenreName{
  font-size: 50px;
  margin: 0;
  margin-left: 50px;
  color:orange;
} */

.displayMovies{
  text-align: center;
  margin:auto;
}
.displayList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto;
  text-align:center;
/* 
  //blur out background */
  /* z-index: 100;
  position: absolute;
  top:1%;
  left:0; */
}

.displayList div{
  margin: 2%;
}

.displayList .movie1:hover, .movie2:hover, .movie3:hover, .movie4:hover, .movie5:hover, .movie6:hover,  .movie7:hover  .movie8:hover .movie9:hover{
  /* transform: scale(1.1); */
  transform: translateY(-20px);
  cursor: pointer;
  /* color:orange; */
}

.btnContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
  width: 80%;
  text-align: center;
}


.nextBtn, .prevBtn, .loadingBtn, .homeBtn{
  text-align:center;
  margin: auto;
  background-color: transparent;
  /* color:#d5d5d5; */
  color:orange;
  font-size: 35px;
  border: none;
}

.nextBtn:hover, .prevBtn:hover, .homeBtn:hover{
  /* color:orange; */
  transform: translateY(-10px);
  /* transform: translateY(-5px) */
}


/* .movie {
  margin: 2%;
}
.movie:hover {
  cursor: pointer;
  opacity: 0.7;
}

.movie .title {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.movie .descr {
  display: flex;
  justify-content: space-evenly;
}

.movie .poster {
  height: 450px;
  object-fit: contain;
} */

.movie {
  margin: 2%;
}
/* .movie:hover {
  cursor: pointer;
  opacity: 0.7;
} */

.title {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.descr {
  display: flex;
  justify-content: space-evenly;
}

.poster {
  height: 450px;
  object-fit: contain;
}
.overview {
  font-size: 15px;
}
.date,
.vote {
  font-size: 16px;
}

/* ***********************************MODAL*********************************** */
/* #myModal {
  top: 7%;
  padding-right: 0 !important;
}

.modal-content {
  width: 740px;
  min-height: 400px;
} */

#dialog-message {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
  background-color: #302e2e;
  padding-bottom: 3%;
  width:740px;
  margin: auto;
}



.ui-front {
  z-index: 1000 !important;
}

.ui-dialog {
  z-index: 1000 !important ;
}

/* .ui-button{
  visibility: hidden;
} */

.ui-dialog .ui-dialog-buttonpane{
  text-align: center;
  position:relative;
  z-index: 1000;
  /* position: absolute; top: 20px; left:94%; */
}
/* .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
  float: none;
} */

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#cancel-button {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}

#cancel-button:hover i {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.2);
}

#cancel-button i {
  color: orange;
  font-size: 50px;
  opacity: 1;
}

/* #modalCloseBtn {
  margin: 0;
  color: unset;
  right: 20%;
}

.modalBtnContainer {
  display: block;
  text-align: center;
  right: 20%;
}

.container-fluid {
  padding: 0;
}
.modal-body {
  padding: 0;
  background-color: #121212;
} */

/* ***********************************MODAL MOVIE PREVIEW*********************************** */

.videoDisplay {
  /* width:70%; */
  text-align: center;
  margin: 0 auto;
}

.previewTitle {
  width: 100%;
  font-size: 37px;
  margin: 2%;
}

.previewDescr {
  width: 100%;
  margin: 2% 2%;
}

.previewGenreIcon {
  margin: 0 10px;
  border: 1px solid #d5d5d5;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
}

.logoDisplay, .streamDisplay, .buyDisplay{
  display:flex;
  width:100%;
  align-items: center;
  margin: 1%;
  flex-wrap: wrap;
}

.previewLogoIcon {
  margin: 10px;

}

.previewLogoIcon img {
  max-height: 40px;
}

.previewTime {
  margin: 0 10px;
  padding: 2px 5px;
}

/* .streamDisplay{
  display:flex;
  width:100%;
  align-items: center;
} */

.previewProviderIcon, .previewBuyIcon{
  margin: 0 5px;
}

.previewProviderIcon img, .previewBuyIcon img{
  max-height:50px;
  border-radius: 15px;
}

#dialog-message .providerLabel{
  width: 100px;
  /* text-align:center; */
  font-size:20px;
  margin: 5px;
  color:orange;
}

#dialog-message .errorDisplay{
  margin: 2%;
  /* color:red; */
}
/* ***********************************PROFILE*********************************** */

/* ***********************************SETTING*********************************** */

#setting{
  margin:10% auto;
  width:50%;
  display:none;

}

#setting form{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;

}

#setting form label, .profile-label{
  font-weight: 650;
}

#setting form div, #profile div{
  margin: 1%;
}

#profile ul{
  list-style-position:inside;
  /* text-align: center; */
  
}


#profile{
  width:50%;
  margin:10% auto;
  /* text-align: center; */
}

#profile .profile-label{
  font-weight: 650;
}


/* #dialog-subscription{
  display:flex;
  flex-wrap: wrap;
  background-color: black;
}

.subscription-logo{
  margin: 15px;
} */

#sub-menu-subscription{
  width: 300px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


#sub-menu-subscription #subscription-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;


}


#sub-menu-subscription #subscription-btn-container{
  text-align: center;
  margin: 3%;
  display:flex;
}


#subscription-descr{
  text-align: center;
  margin-bottom: 10px;
}

.subscription-logo{
  opacity: 0.1;
  margin: 3%;
  
}



.subscription-logo img{
  /* opacity: 0.1; */
  border-radius:10px;
  /* box-shadow: 5px 5px 8px white; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); */
  /* box-shadow: 0 4px 8px 0 yellow, 0 6px 20px 0 red; */
  /* box-shadow: 0 4px 8px 0 #d5d5d5, 0 6px 20px 0 #d5d5d5; */

}

.subscription-logo:hover{
  cursor: pointer;
  opacity: 1;

}

.subscription-logo:hover img{
  transform: translateY(-5px);
}



/* ***********************************ABOUT*********************************** */

#back-button{
  background-color: transparent;
  border: 1px solid white;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 3%;
  margin: 5% auto;
  color:white;
  opacity: 0.7;
  padding: 5px 15px;
}

#back-button:visited{
  color: orange;
}

#back-button:hover{
  opacity: 1;
  transform: scale(1.2);
  color:orange;
}

.main{
  margin: 5% 10%;
}

.main img{
  position: absolute;
  top: 0;
  z-index: -50;
  object-fit: cover;
  object-position: 50% 90%;
  margin: 5% auto;
  width: 80%;
  height: 650px;
  box-shadow: 0 30px 40px rgba(233, 223, 223, 0.3);
}

.main h1{

  font-size: 50px;
  margin: 0;
  margin-top:700px;
  /* margin-left: 30px; */
  text-align:center;
  color:orange;

}

.main-descr{
  text-align:center;
  width:50%;
  margin: 25% auto;
}

.main-descr h2{
  font-size: 40px;
}

.main-descr-text{
  border-top: orange 1px solid;
  border-bottom: orange 1px solid;
  font-size:20px;
  padding: 5%;
}


.about-main{
  margin: 10%;
  height: 650px;
}

.about-main .item{
  height: 300px;
}

#contact{
  margin-bottom: 10%;
}

#contact-display{
  display:flex; 
  justify-content: space-between;
  width: 80%;
  text-align:center;
  margin: auto;
}


.contact-cards a:visited i{
  color:#d5d5d5;
  color:orange;
}

.contact-cards i{
  font-size: 30px;
  color:#d5d5d5;
  color:orange;
}

.contact-cards:hover i, .contact-cards a:hover i{
  color:orange;
  cursor: pointer;
  transform: translateY(-10px);
}

#email-display{
  display:none;
  margin: 5% auto;

}


#emailForm{
  width:400px;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between
}


#emailForm input, textarea{
  border: 1px solid #d5d5d5;
  background-color: transparent;
  color: #d5d5d5;
}

#emailForm p{
  margin:3px 0 15px 0;
}

#emailForm .promptUser{
  margin: 5px;

}

/* #promptName, #promptEmail{
  width: 20%;
} */

/* #emailForm label{
  margin-left: 0;
} */

#emailForm button{
  border: 1px solid #d5d5d5;
  background-color: transparent;
  color: #d5d5d5;
  padding: 5px 15px;
}

#emailForm button:hover{
  /* color:orange; */
  border: 1px solid orange;
}



.navbar-collapse{
  opacity: 0;
}

/* @media  screen and (max-width:1060px) {

  .navbar-container{
    width:100%;
    padding-right: 8px;
  }

  .menu{
    display:block;
    text-align: right;
    display:none;
    pointer-events: none;
  }
  
  #search-form{
    margin-left:20%
  }
  
  .menu-item{
    margin: 20px 0;
  }
  
  #menu-title-region{
    justify-content: right;
  }

  #menu-region{
    margin-right: 0;
  }
  

  .navbar-collapse{
    opacity: 1;
    font-size: 35px;
    margin-right: 8px;
  }

  #menu-title-genre.active > .menu-title + .sub-menu{
    display:block;
    transform: translateY(100);
    pointer-events: auto;
  }
  
} */
@media screen and (max-width:1050px){
  .logo{
    font-size:25px;
  }

  .menu-title{
    font-size:16px;
  }
}


@media screen and (max-width:1080px) {
  .logo{
    font-size:20px;
  }

  .menu-title{
    font-size:14px;
  }
  .header{
    justify-content: center;
  }
  .logo{
    margin: 0 10px 
  }

  .mainImg{
    height: 700px;
  }

  .mainDescr{
    margin: 200px 50px;
  }

  #services{
    margin: 50px 0;
  }

  #services #myServices img{
    width: 70px;
  }

  #serviceContainer{
    width: 900px;
    padding: 10px 0;
    margin: 0;
  }

  .mainImg{
    object-fit: cover;
    object-position: 50% 10%;
  }
}

@media screen and (max-width: 880px){
  .menu-item{
    margin: 10px;
  }

  #services{
    margin: 10px 0;
  }

  .my-services-logo{
    margin:10px;
  }

  #services h1{
    font-size: 32px;
  }

  #serviceContainer{
    width: 95%;
    margin: auto;
  }

  #editServiceBtn, #editRegionBtn, #editGenreBtn{
    font-size: 20px;
  }

  #services #myServices{
    border: none;
  }

  #servicesMsg{
    margin: 0;
  }

  .mainDescr{
    margin: 100px 50px;
  }

  .mainDescr h1{
    font-size: 32px;
  }

  .mainDescr p{
    font-size: 20px;
  }

  #mainGenreDescr{
    width: 80%;
  }
}

@media screen and (max-width: 750px){
    #dialog-message{
    width: 650px;
  }

  #movieTrailer{
    height: 365px;
    width: 650px
  }

  .main-descr{
    text-align:center;
    width:70%;
    margin: 25% auto;
  }
}

@media screen and (max-width:615px) {


  .mainImg{
    object-fit: cover;
    object-position: 20% 10%;
  }

  #services #myServices img{
    width: 60px;
  }

  #services #myServices{
    padding: 10px;
  }

  #services h1{
    font-size: 20px;
  }

  #services #displayServices{
    margin: 10px auto;
  }

  .my-services-logo{
    margin:5px;
  }

  .subscription-logo{
    margin: 5px;
  }

  .menu .sub-menu{
    padding: 10px;
  }
  /* #sub-menu-subscription{
    width:200px;
    padding:10px;
  }

  #sub-menu-subscription #subscription-container{
    justify-content: space-around;
  } */

  .mainDescr{
    width: 80%;
    /* margin: 80px 20px; */
  }

  #editServiceBtn, #editRegionBtn, #editGenreBtn{
    font-size: 16px;
  }

  .mainDescr h1{
    font-size: 25px;
  }

  .mainDescr p{
    font-size: 16px;
  }

  #dialog-message{
    width: 450px;
  }

  #movieTrailer{
    height: 253px;
    width: 450px
  }

  .previewTitle{
    font-size:30px;
  }

  body{
    font-size: 16px;
  }

  .previewDescr{
    font-size: 16px;
  }

  #dialog-message .providerLabel{
    font-size: 16px;
    width:80px;
  }

  .previewProviderIcon img, .previewBuyIcon img{
    max-height: 40px;
    border-radius: 10px;
  }

  .main img{
    height: 400px;
  }
  .main h1{
    font-size: 30px;
    margin-top:420px;
  }

  .main-descr h2{
    font-size: 25px;
  }

  .main-descr-text{
    font-size: 14px;
  }
}

@media screen and (max-width:450px) {
  .menu{
    justify-content:space-evenly
  }

  .menu-title{
    font-size:15px
  }
  #sub-menu-subscription{
    width:200px;
    padding: 5px;
  }

  .subscription-logo{
    width: 40px;
  }

  #services #myServices img{
    width: 50px;
  }

  .previewTitle{
    font-size:25px;
  }

  .previewDescr{
    font-size: 14px;
  }

  #dialog-message .providerLabel{
    font-size: 14px;
    width:70px;
  }

  #dialog-message{
    width: 380px;
  }

  #movieTrailer{
    height: 213px;
    width: 380px
  }

  #searchMsg{
    font-size:30px;
    margin:10px;
  }

  #displayGenreName{
    margin:10px;
  }

  #tutorial p,a{
    font-size: 12px;
    margin: 5px;
  }

  .main-descr{
    width:80%;
  }

  #emailForm{
    justify-content: space-around;
  }

  .previewGenreIcon{
    margin: 3px 5px;
  }


}
