/* ***********************************DOCUMENT*********************************** */
body {
  background-color: #121212;
  color: #d5d5d5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 0 !important;
  margin:0;
  font-size: 18px;
}

button {
  border-radius: 6px;
  /* border: #d5d5d5 1px solid; */
  padding: 2px 10px;
}

/* ***********************************HEADER & LOGO*********************************** */
.header {
  margin: 10px;
}

.logo {
  font-size: 30px;
  color: black;
  /* margin: 0 15px; */
  /* color: #d5d5d5; */
}

.logo:hover {
  /* color: #d5d5d5; */
  opacity: 0.7;
  color: black;
}

/* ***********************************FOOTER*********************************** */
.go-to-top {
  text-align: center;
}

#topBtn {
  font-size: 25px;
}


/* ***********************************NAV*********************************** */

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0;
  margin:0;
}

.menu-item {
  margin: 10px;
}
/* .menu .menu-item a {
  color: white;
  color: #d5d5d5;
} */

.sub-item a{
  color: #d5d5d5;
}
.menu .sub-menu {
  position: absolute;
  list-style: none;
  /* pointer-events: none; */
  background: black;
  border-radius: 0 0 8px 8px;
  transform: translateY(10px);
  padding: 1%;
  display:none;
}

.menu-item .sub-menu a:hover {
  color: orange;
}

.menu-item .sub-menu {
  column-count: 3;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 10px; */
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* padding: 0 20px; */
  margin: 0;
}

.navbar .navbar-item a {
  margin: 0 30px;
  color: black;
  /* color: #d5d5d5; */
}

.navbar .navbar-item {
  font-weight: 700;
  /* color: #d5d5d5; */
  color: black;
}

.menu-title{
  color:black;
  font-size: 18px;
}

/* .navbar:hover .dropdown-menu {
  display: block;
} */

/* .dropdown:hover #dropdownMenuButton{
  text-decoration: underline;
} */

/* ***********************************GENRE DROPDOWN*********************************** */
.dropdown-menu {
  column-count: 3;
}


/* ***********************************REGION DROPDOWN*********************************** */

#region option{
  border-radius: 10px;
  background-color: black;
  color:white;
  width: 100px;

  /* overflow-wrap: break-word !important;
  white-space: pre-wrap;
  
  text-overflow: ellipsis;
  word-wrap: break-word; */
  
}

#region{
  background-color: transparent;
  /* border:none; */
  /* width: 120px; */
  font-family: unset;
  font-size: 16px;
  color:white;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 200px;
  /* overflow-wrap: break-word !important; */
  
}


/* ***********************************SEARCH BAR*********************************** */
#search_input {
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;

}

#searchBtn{
  /* border:#d5d5d5 1px solid; */
  /* padding: 5px 15px; */
  color:white;
  background-color: black;
}

/* ***********************************MAIN IMG*********************************** */

/* .imgContainer {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;

}

.imgContainer #main_img {
  height: 800px;
  object-fit: cover;

} */

#main_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;
  height: 800px;
  object-fit: cover;
}

#main_descr {
  width: 60%;
  margin: 300px 0 250px 50px;
}
/* ***********************************OWL CAROUSEL*********************************** */

.owl-carousel {
  z-index: index unset;
}

/* ***********************************MOVIE COLLECTION*********************************** */
.displayList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 0 0 0;
}

.movie {
  margin: 2%;
}
.movie:hover {
  cursor: pointer;
  opacity: 0.7;
}

.movie .title {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.movie .descr {
  display: flex;
  justify-content: space-evenly;
}

/* align title when image is different */
.movie .poster {
  height: 450px;
  object-fit: contain;
}

.overview {
  font-size: 15px;
}
.date,
.vote {
  font-size: 12px;
}

/* ***********************************MODAL*********************************** */
/* #myModal {
  top: 7%;
  padding-right: 0 !important;
}

.modal-content {
  width: 740px;
  min-height: 400px;
} */

#dialog-message {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}

#dialog-message {
  background-color: #302e2e;
}

.ui-front {
  z-index: 1000 !important;
}

.ui-dialog {
  z-index: 1000 !important ;
}

/* .ui-button{
  visibility: hidden;
} */

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}
/* .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
  float: none;
} */

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.cancel-button {
  text-align: center;
  background-color: transparent;
  border: none;
}

#cancel-button:hover i {
  cursor: pointer;
  opacity: 0.8;
}

#cancel-button i {
  color: red;
  font-size: 40px;
  opacity: 0.4;
}

/* #modalCloseBtn {
  margin: 0;
  color: unset;
  right: 20%;
}

.modalBtnContainer {
  display: block;
  text-align: center;
  right: 20%;
}

.container-fluid {
  padding: 0;
}
.modal-body {
  padding: 0;
  background-color: #121212;
} */

/* ***********************************MODAL MOVIE PREVIEW*********************************** */

.videoDisplay {
  /* width:70%; */
  text-align: center;
  margin: 0 auto;
}

.previewTitle {
  width: 100%;
  font-size: 40px;
  margin: 2%;
}

.previewDescr {
  width: 100%;
  margin: 1% 2% 5%;
}

.previewGenreIcon {
  margin: 0 10px;
  border: 1px solid #d5d5d5;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
}

.logoDisplay, .streamDisplay, .buyDisplay{
  display:flex;
  width:100%;
  align-items: center;
  margin: 2% 1%;
  flex-wrap: wrap;
}

.previewLogoIcon {
  margin: 10px;

}

.previewLogoIcon img {
  max-height: 40px;
}

.previewTime {
  margin: 0 10px;
  padding: 2px 5px;
}

/* .streamDisplay{
  display:flex;
  width:100%;
  align-items: center;
} */

.previewProviderIcon, .previewBuyIcon{
  margin: 0 10px;
}

.previewProviderIcon img, .previewBuyIcon img{
  max-height:70px;
  border-radius: 20px;
}
/* ***********************************PROFILE*********************************** */

/* ***********************************SETTING*********************************** */

#setting{
  margin:10% auto;
  width:50%;
  display:none;

}

#setting form{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;

}

#setting form label, .profile-label{
  font-weight: 650;
}

#setting form div, #profile div{
  margin: 1%;
}

#profile ul{
  list-style-position:inside;
  /* text-align: center; */
  
}


#profile{
  width:50%;
  margin:10% auto;
  /* text-align: center; */
}

#profile .profile-label{
  font-weight: 650;
}


/* #dialog-subscription{
  display:flex;
  flex-wrap: wrap;
  background-color: black;
}

.subscription-logo{
  margin: 15px;
} */

#filter{
  background-color: black;
  width: 300px;
  position:absolute;
  /* right: 180px;
  top:85px; */
  border-radius: 15px;
  padding: 1%;
  display:none;
  /* z-index: 100; */
  transform: translate(0, 10px);
}

#filter #sub2{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;


}



#filter #subscription-container{
  text-align: center;
  margin: 1%;
}

.subscription-logo{
  opacity: 0.2;
  margin: 3%;
  
}



.subscription-logo img{
  /* opacity: 0.1; */
  border-radius:10px;
  /* box-shadow: 5px 5px 8px white; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 8px 0 yellow, 0 6px 20px 0 red;
  
}

.subscription-logo:hover{
  cursor: pointer;
  opacity: 1;
}

#filter{
  z-index: 1000;
}


.nextBtn{
  width:100%;
  text-align:center;
  margin: auto;
}

#display-region{
  background-color: black;
  color:white;
  width: 250px;
  position:absolute;
  /* transform: translate(-75px, 10px); */
  padding: 1%;
  text-align:center;
  display:none;
  border-radius: 10px;
}