body {
  background-color: #121212;
  color: #d5d5d5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 0 !important 
}

button {
  border-radius: 6px;
  border: 2px;
  border: #d5d5d5 1px solid;
  padding: 2px 10px;
}

.header {
  margin: 2% 0;
}

.logo {
  font-size: 30px;
  color: black;
  margin: 0 15px;
  /* color: #d5d5d5; */
}

.logo:hover {
  /* color: #d5d5d5; */
  opacity: 0.7;
  color: black;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* padding: 0 20px; */
  margin: 0;
}

.navbar .navbar-item a {
  margin: 0 30px;
  color: black;
  /* color: #d5d5d5; */
}

.navbar .navbar-item {
  font-weight: 700;
  /* color: #d5d5d5; */
  color: black;
}

.navbar:hover .dropdown-menu {
  display: block;
}

/* .dropdown:hover #dropdownMenuButton{
  text-decoration: underline;
} */


.owl-carousel {
  display: block;
  width: 100%;
  z-index: 1
}

.imgContainer {
  width: 100%;


  position: absolute;
  top: 0;
  z-index: -50;
}

.imgContainer img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}



.title {
  font-size: 25px;
}
.overview {
  font-size: 15px;
}
.date,
.vote {
  font-size: 12px;
}

/* .displayList {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  padding: 10px;
  position: center;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  
} */
/* .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #2f2f2f;
  border-radius: 8px;
} */

#myModal {
  top: 7%;
  padding-right: 0 !important 

}

.modal-content {
  width: 740px;
  min-height: 400px;
}

#modalhere {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}

#modalCloseBtn {
  margin: 0;
  color: unset;
  /* text-align: center; */
  right: 20%;
}

.modalBtnContainer {
  display: block;
  text-align: center;
  right: 20%;
}

.container-fluid {
  padding: 0;
}
.modal-body {
  padding: 0;
  background-color: #121212;
}
.videoDisplay {
  /* width:70%; */
  text-align: center;
  margin: 0 auto;
}

.previewTitle {
  width: 100%;
  font-size: 40px;
  margin: 2%;
}

.previewDescr {
  width: 100%;
  margin: 5% 2%;
}

.previewGenreIcon {
  margin: 0 10px;
  border: 1px solid #d5d5d5;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
}

.previewLogoIcon {
  margin: 0 10px;
  
}

.previewLogoIcon img{
  max-height: 40px;
}

.previewTime{
  margin: 0 10px;
  padding: 2px 5px;
}


.displayList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50% 0 0 0;
}

.movie {
  margin: 2%;
}
.movie:hover {
  cursor: pointer;
  opacity: 0.7;
}

.movie .title {
  text-align: center;
  word-wrap: break-word;
}

.movie .descr {
  display: flex;
  justify-content: space-evenly;
}

/* align title when image is different */
.movie .poster {
  height: 450px;
  object-fit: contain;
}

#search_input {
  font-size: 16px;
  border-radius: 5px;
}

/* #searchBtn{
  border:#d5d5d5 1px solid;
  padding: 5px 15px;
} */

.columns {
  column-count: 2;
  /* width: 500px;
  height:170px; */
}

.dropdown-menu {
  column-count: 3;
}

