/* ***********************************DOCUMENT*********************************** */
body {
  background-color: #121212;
  color: #d5d5d5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 0 !important;
  margin:0;
  font-size: 18px;
}

button {
  /* border-radius: 6px; */
  /* border: #d5d5d5 1px solid; */
  padding: 2px 10px;
}

button:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
}


/* ***********************************HEADER & LOGO*********************************** */
.header {
  /* margin: 10px; */
  z-index: 200;
  /* position: fixed; */
  display:flex;
  /* top: 1%; */
  padding: 0 10px;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: #121212;
  align-items: center;
  flex-wrap: wrap;
}


.logo {
  font-size: 30px;
  color: #d5d5d5;
  margin: 0 160px 0 0 ;
  /* color: #d5d5d5; */
  opacity: 1;
}

.logo:hover {
  /* color: #d5d5d5; */
  opacity: 0.6;
  color: #d5d5d5;
}

/* ***********************************FOOTER*********************************** */
.go-to-top {
  text-align: center;
}

#topBtn {
  font-size: 25px;
}


/* ***********************************NAV*********************************** */
.navbar-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* margin: 0 10px; */
  /* position:fixed; */
  top:10px;
  right:0;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0;
  margin:0;
  align-items: center;
  flex-wrap: wrap;
}
.menu-title{
  color:#d5d5d5;
  font-size: 18px;
  opacity: 1;
}

#menu-region{
  margin: 10px 15px;
}

.menu-title:hover{
  opacity:0.6;
}

.menu-item {
  margin: 10px 15px;
}
/* .menu .menu-item a {
  color: white;
  color: #d5d5d5;
} */

.sub-item a{
  color: #d5d5d5;
}
.menu .sub-menu {
  position: absolute;
  list-style: none;
  /* pointer-events: none; */
  background: #121212;
  border-radius: 0 0 8px 8px;
  transform: translate(-150px,16px);
  padding: 20px;
  padding-top:30px;
  display:none;
  z-index:100;
}

.menu-item .sub-menu a:hover {
  color: orange;
}

.menu-item .sub-menu {
  column-count: 3;
}


/* .navbar-container li{

  right: 0;
} */
.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* padding: 0 20px; */
  margin: 0;
}

.navbar .navbar-item a {
  margin: 0 30px;
  color: #121212;
  /* color: #d5d5d5; */
}

.navbar .navbar-item {
  font-weight: 700;
  /* color: #d5d5d5; */
  color: #121212;
}



/* .navbar:hover .dropdown-menu {
  display: block;
} */

/* .dropdown:hover #dropdownMenuButton{
  text-decoration: underline;
} */

/* ***********************************GENRE DROPDOWN*********************************** */
.dropdown-menu {
  column-count: 3;
}


/* ***********************************REGION DROPDOWN*********************************** */
#menu-title-region{
  display:flex;
}
#region option{
  border-radius: 10px;
  background-color: #121212;
  color:white;
  width: 100px;

  /* overflow-wrap: break-word !important;
  white-space: pre-wrap;
  
  text-overflow: ellipsis;
  word-wrap: break-word; */
  
}

#region{
  background-color: transparent;
  /* border:none; */
  /* width: 120px; */
  font-family: unset;
  font-size: 16px;
  color:#d5d5d5;
  /* border-radius: 7px; */
  margin-bottom: 10px;
  width: 200px;
  /* overflow-wrap: break-word !important; */
  
}

.saveBtn{
  border: 1px solid #d5d5d5;
  background-color: transparent;
  color: #d5d5d5;
  margin: 3%;
  padding: 5px 17px;
  /* border-radius: 10px; */
}

/* .saveBtn:hover{
  cursor: pointer;
} */

/* ***********************************SEARCH BAR*********************************** */
#search-input {
  font-size: 16px;
  background-color: transparent;
  color:#d5d5d5;
  border:none;
  /* border-color: #d5d5d5; */
  width: 100px;
  font-size: 12px;
}

#search-input:focus{
  outline: none;
  background-color: #121212;
}

#search-input:active{
  outline: none;
  background-color: #121212;
}


#searchBtn{
  /* border:#d5d5d5 1px solid; */
  /* padding: 5px 15px; */
  background-color: transparent;
  /* padding: 2px; */
  border: none;
  color:#d5d5d5;
}

#search-form{
  border: 1px solid #d5d5d5;
  padding: 5px 15px;
  border-radius: 15px;
}

#searchMsg{
  font-size: 45px;
  margin-top: 80px;
}

/* #menu-title-search{
  margin-top:0;
} */
/* ***********************************MAIN IMG*********************************** */

/* .imgContainer {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;

}

.imgContainer #main_img {
  height: 800px;
  object-fit: cover;

} */

#mainOwl .owl-item{
  margin: 0;
  z-index:-100;
}

#main {
  z-index: -100;
}

/* #mainImg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;
  height: 900px;
  object-fit: cover;
} */

.mainImg {
  position: absolute;
  top: 0;
  z-index: -50;
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 900px;
}

.mainDescr {
  width: 60%;
  margin: 400px 0 400px 50px;
  color: black;
  
}

.mainDescr h1{
  margin: 0;
  font-size: 50px;
}
.mainDescr p{
  margin: 0;
  font-size: 25px;
}

.mainMsg{
  text-align:center;
  width:80%;
  margin:auto;
}

.mainMsg h2{
  font-size: 40px;
  color:black;
}

.mainBtn{
  background-color: white;
  font-size: 35px;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 15px;
  margin:10px;
}
/* ***********************************MY SERVICES*********************************** */

#services{
  text-align: center;
  margin: 100px 0;
  color:#121212;
}

#services h1{
  font-size: 40px;
}
#services #displayServices{
  margin: 20px auto;
}

#services #displayServices h1{
  margin: 5px auto;
}

/* #services #myServices{
  border: 3px solid #d5d5d5;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  width: 750px;
  margin: 50px auto;
  
} */

#services #myServices img{
  border-radius: 15px;
}

.my-services-logo{
  margin: 15px;
}


#servicesMsg{
  margin: 20px 0;
}

/* #editServiceBtn, #trendingServiceBtn{
  background-color: transparent;
  color:#121212;
  border:1px solid #121212;
  padding: 5px 15px;
  margin: 10px 20px;
  font-size: 20px;
} */

#editServiceBtn, #trendingServiceBtn{
  background-color: #121212;
  color:#d5d5d5;
  padding: 5px 15px;
  margin: 10px 20px;
  font-size: 20px;
}

#editServiceBtn:hover, #trendingServiceBtn:hover{
  background-color: #d5d5d5;
  color:#121212;

}



#services #myServices{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  /* margin-bottom:10px; */
  border-top:#121212 3px solid;
}

#serviceContainer{
  /* border: #121212 3px solid; */
  padding: 10px;
  width: 750px;
  margin: 20px auto;
}

#serviceMsg{
  margin: 15px 0;
}

/* ***********************************TUTORIAL*********************************** */

/* .tutorial{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  width:700px;
  margin:auto;
}

#tutorialDisplaySub div{
  width: 300px;
  margin: 1%;
  background-color: #222121;
  color:#d5d5d5;
  padding: 10px;
  display:none;
}

#tutorialDisplaySub h4{
  margin: 5px;
  font-size: 22px;
} */
#tutorial{
  background-color: black;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

#tutorial a{
  margin: 10px;
  border: 1px solid #d5d5d5;
  padding: 5px 15px;
  
}

#tutorialDisplaySub{
  background-color: #d5d5d5;
  width: 700px;
  margin:auto;
  display:none;
}

#tutorialDisplayRegion{
  position:relative;
  z-index:300px;
  background-color: white;
  transform: translate(150px, -300px);
  width:700px;
  display:none;
}

#tutorialDisplayGenre{
  color:black;
}
/* ***********************************SUB1*********************************** */

#sub1 h1{
  font-size: 40px;
  text-align: center;
}
#sub1 h2{
  margin: 3% 1% 1%;
}

#sub1{
  margin: 100px 0;
}
/* ***********************************OWL CAROUSEL*********************************** */

.owl-carousel {
  z-index: index unset;
}

/* ***********************************MOVIE COLLECTION*********************************** */

.displayMovies{
  text-align: center;
  margin:auto;
}
.displayList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto;
  text-align:center;
/* 
  //blur out background */
  /* z-index: 100;
  position: absolute;
  top:1%;
  left:0; */
}

.displayList div{
  margin: 2%
}

.btnContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
  width: 80%;
  text-align: center;
}


.nextBtn, .prevBtn, .loadingBtn, .homeBtn{
  text-align:center;
  margin: auto;
  background-color: transparent;
  color:#d5d5d5;
  font-size: 30px;
  border: none;
}


#display-region{
  background-color: #121212;
  color:white;
  width: 250px;
  position:absolute;
  transform: translate(-100px, 8px);
  /* transform: translate(-75px, 10px); */
  padding: 20px;
  text-align:center;
  display:none;
  /* border-radius: 10px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
}
/* .movie {
  margin: 2%;
}
.movie:hover {
  cursor: pointer;
  opacity: 0.7;
}

.movie .title {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.movie .descr {
  display: flex;
  justify-content: space-evenly;
}

.movie .poster {
  height: 450px;
  object-fit: contain;
} */

.movie {
  margin: 2%;
}
.movie:hover {
  cursor: pointer;
  opacity: 0.7;
}

.title {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.descr {
  display: flex;
  justify-content: space-evenly;
}

.poster {
  height: 450px;
  object-fit: contain;
}
.overview {
  font-size: 15px;
}
.date,
.vote {
  font-size: 12px;
}

/* ***********************************MODAL*********************************** */
/* #myModal {
  top: 7%;
  padding-right: 0 !important;
}

.modal-content {
  width: 740px;
  min-height: 400px;
} */

#dialog-message {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
  background-color: #302e2e;
  padding-bottom: 3%;
}



.ui-front {
  z-index: 1000 !important;
}

.ui-dialog {
  z-index: 1000 !important ;
}

/* .ui-button{
  visibility: hidden;
} */

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}
/* .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
  float: none;
} */

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#cancel-button {
  text-align: center;
  background-color: transparent;
  border: none;
}

#cancel-button:hover i {
  cursor: pointer;
  opacity: 0.8;
}

#cancel-button i {
  color: orange;
  font-size: 50px;
  opacity: 0.4;
}

/* #modalCloseBtn {
  margin: 0;
  color: unset;
  right: 20%;
}

.modalBtnContainer {
  display: block;
  text-align: center;
  right: 20%;
}

.container-fluid {
  padding: 0;
}
.modal-body {
  padding: 0;
  background-color: #121212;
} */

/* ***********************************MODAL MOVIE PREVIEW*********************************** */

.videoDisplay {
  /* width:70%; */
  text-align: center;
  margin: 0 auto;
}

.previewTitle {
  width: 100%;
  font-size: 40px;
  margin: 2%;
}

.previewDescr {
  width: 100%;
  margin: 1% 2%;
}

.previewGenreIcon {
  margin: 0 10px;
  border: 1px solid #d5d5d5;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
}

.logoDisplay, .streamDisplay, .buyDisplay{
  display:flex;
  width:100%;
  align-items: center;
  margin: 1%;
  flex-wrap: wrap;
}

.previewLogoIcon {
  margin: 10px;

}

.previewLogoIcon img {
  max-height: 40px;
}

.previewTime {
  margin: 0 10px;
  padding: 2px 5px;
}

/* .streamDisplay{
  display:flex;
  width:100%;
  align-items: center;
} */

.previewProviderIcon, .previewBuyIcon{
  margin: 0 5px;
}

.previewProviderIcon img, .previewBuyIcon img{
  max-height:50px;
  border-radius: 15px;
}

#dialog-message .providerLabel{
  width: 100px;
  /* text-align:center; */
  font-size:20px;
  margin: 5px;
  color:orange;
}

#dialog-message .errorDisplay{
  margin: 2%;
  color:red;
}
/* ***********************************PROFILE*********************************** */

/* ***********************************SETTING*********************************** */

#setting{
  margin:10% auto;
  width:50%;
  display:none;

}

#setting form{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;

}

#setting form label, .profile-label{
  font-weight: 650;
}

#setting form div, #profile div{
  margin: 1%;
}

#profile ul{
  list-style-position:inside;
  /* text-align: center; */
  
}


#profile{
  width:50%;
  margin:10% auto;
  /* text-align: center; */
}

#profile .profile-label{
  font-weight: 650;
}


/* #dialog-subscription{
  display:flex;
  flex-wrap: wrap;
  background-color: black;
}

.subscription-logo{
  margin: 15px;
} */

#filter{
  background-color: #121212;
  width: 400px;
  position:absolute;
  /* right: 180px;
  top:85px; */
  border-radius: 15px;
  padding: 25px;
  display:none;
  /* z-index: 100; */
  transform: translate(-140px, 3px);
}

#filter #sub2{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;


}



#filter #subscription-container{
  text-align: center;
  margin: 1%;
}

.subscription-logo{
  opacity: 0.2;
  margin: 3%;
  
}



.subscription-logo img{
  /* opacity: 0.1; */
  border-radius:10px;
  /* box-shadow: 5px 5px 8px white; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); */
  /* box-shadow: 0 4px 8px 0 yellow, 0 6px 20px 0 red; */
  /* box-shadow: 0 4px 8px 0 #d5d5d5, 0 6px 20px 0 #d5d5d5; */
  
}

.subscription-logo:hover{
  cursor: pointer;
  opacity: 1;
}

#filter{
  z-index: 1000;
}


